<nav>
    <div class="nav-wrapper primary">
        <a class="sidenav-trigger">
            <span class="oi oi-menu"></span>
        </a>
        <a class="brand-logo" href="">@Title</a>

    </div>
</nav>



@functions {
    [Parameter]
    private string Title { get; set; }
}