@page "/fetchdata"
@using DaedalusBackupDashboard.Data
@using DaedalusBackupDashboard.Services
@inject HyperVService hvService
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (vms == null)
{
    <p>Loading VMs ...</p>
}
else 
{
    @foreach (var vm in vms)
    {
        <p>@vm.Name</p>
    }
}

@functions {
    List<VirtualMachine> vms;
    protected override async Task OnInitAsync()
    {
        Console.WriteLine("hello client");
        try
        {
            vms = await hvService.GetVMs();

        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
