@page "/hyperv"
@using DaedalusBackupDashboard.Data
@using DaedalusBackupDashboard.Services
@inject HyperVService hvService

<NavBar Title="Hyper V" />
<h1>Hyper V</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (vms == null && !hasErrored)
{
<p>Loading VMs ...</p>
}
else if (hasErrored)
{
    <p>Error occurred</p>
}
else
{
@foreach (var vm in vms)
    {
<p>@vm.Name</p>
    }
}

@functions {
    List<VirtualMachine> vms;
    bool hasErrored = false;

    protected override async Task OnInitAsync()
    {
        Console.WriteLine("hello client");
        try
        {
            vms = await hvService.GetVMs();

        }
        catch(Exception ex)
        {
            Console.WriteLine("error");
            hasErrored = true;
        }
    }
}
